*{
    margin: 0px;
    padding: 0px;
}
/*fondo de la pagina*/
body{
    background: blue;
    color: white;
}

/*todo el contenido de la pagina(tamaño,bordes,etc)*/
#contene{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;/*tamaño del radio del contenedor*/
    overflow: hidden;/*para dar el borde*/
}
/*cabecera de la pagina*/
header{
    height: 150px;
    background: red;
}
header h1{
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}

/*menu de la pagina*/
nav{
    background: green;
    height: 6opx;
}
nav h2{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

/*contenido dentro de la pagina(informacion)*/
#contenido{
    width: 700px;
    height: 500px;
    float: left;
    background: rgb(49, 230, 13);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#contenido h2{
    font-size: 40px;
    text-align: center;
    line-height: 500px;
}

/*publicidad de la pagina*/
aside{
    width: 250px;
    height: 500px;
    background: rebeccapurple;
    margin-top: 10px;
    float: right;
}
aside h2{
    font-size: 40px;
    text-align: center;
    line-height: 500px;
}

/*pie de la pagina*/
footer{
    background: rgb(8, 8, 8);
    clear: both;/*para que el pie de pagina no interfiera con los demas elementos*/
}
footer h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}
